#sessions-new
  .col-xs-5.login-content
    = form_for @user, url: login_path, method: :post do |f|
      %h2 ログイン
      .form-body
        .form-group
          = f.label :email, "メールアドレス", class:"control-label"
          = f.text_field :email, class:'form-control'
        .form-group
          = f.label :password, "パスワード", class:"control-label"
          = f.password_field :password, class:'form-control'
        = f.submit "ログイン", class: "btn btn-success"
        = link_to root_path, class: "pull-right signup" do
      　
    　
